{% extends 'admin/adminbase.html' %}
{% load static %}


{% block body %}
    <div class="page-body">
       <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Language List
                            <small>
                                <ol class="breadcrumb pull-left">
                                    <li class="breadcrumb-item"><a href="{% url 'core:AdminIndex' %}"><i data-feather="home"></i></a></li>

                                    <li class="breadcrumb-item active">Language List</li>
                                </ol>
                            </small>
                        </h3>

                        </ol>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-tools pull-right ">
                        <a href="{% url 'localization:AddLang' %}">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-original-title="test" data-target="#exampleModal">Add Language
                            </button>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
            <div class="card-body p-0 ">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 10%">
                            Language Name
                        </th>
                        <th style="width: 15% " >
                            Language Flag
                        </th>
                        <th style="width: 15%">
                            translation progress
                        </th>
                        <th style="width: 9%" class="text-center">
                            Status
                        </th>
                        <th style="width: 50%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rs in lang %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a>
                                    {{ rs.name }}
                                </a>
                                <br/>
                                <small>
                                    {{ rs.code }}
                                </small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" width="25px" height="25px" class="table-avatar"
                                                {% if rs.image %}
                                             src="{{ rs.image.url }}">
                                                {% endif %}
                                    </li>

                                </ul>
                            </td>
                            <td class="project_progress">
                                {% for pos in languages %}
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         aria-volumenow="{{pos.percent_translated}}" aria-volumemin="0" aria-volumemax="100"
                                         style="width:{{po.percent_translated}}%">
                                    </div>
                                </div>
                                <small>
                                    {{pos.percent_translated}}%
                                </small>
                                    {% endfor %}
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">{{ rs.status }}</span>
                            </td>
                            <td class="project-actions text-right">
                                {%  if rs.code != 'en' %}
                                <a class="btn btn-primary btn-sm" href="{% url 'localization:rosetta-file-list-redirect'  %}">
                                    <i class="fas fa-folder">
                                    </i>
                                    Edit Translation
                                </a>
                                {% endif %}
                                <a class="btn btn-info btn-sm" href="{% url 'localization:EditLang' rs.id %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>



<script>$(document).ready(function(){
    $('.cmt_del').click(function(e){
        e.preventDefault();
        var a = confirm('Sure?');
        if(a){}
        else if(!a){}
    });
});
      </script>

                          <a class="btn btn-danger btn-sm cmt_del" id="cmt_del" data-confirm="true"
                                   href="{% url 'localization:DeleteLang' rs.id %}">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    {% include "_pagination.html" %}
                {% endif %}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>

    <!-- Container-fluid Ends-->


{% endblock %}
{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %} {% include 'admin/js.html' %}  {% endblock %}
