<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBH9-0yqLkd_AKbnfxnGZjiglTOlqZx09I",

  authDomain: "ydoob-ff08e.firebaseapp.com",

  projectId: "ydoob-ff08e",

  storageBucket: "ydoob-ff08e.appspot.com",

  messagingSenderId: "671085320185",

  appId: "1:671085320185:web:dcce0dd4b791643eab0f28",

  measurementId: "G-L5VCWKMXE1"

  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>