<input type="hidden" name="size" id="size" value="{{ size_id }}">
<ul class="color-option" >
    <li><span class="text-uppercase">Color:</span></li>
    {% for rs in colors %}


                                                                        <li>

                                                                            <ul class="color-variant">

                                                                                <button class="bg-light0 "


                                                                                        name="variantid"
                                                                                         id="variantid"
                                                                                         style="background:{{ rs.color.code }} ;border-radius:60%;height:30px;width:30px
                                                                                                 "
                                                                                         value="{{ rs.id }}"
                                                                                        title="{{ rs.title }}"
                                                                                        onclick="this.form.submit();">
                                                                                   <li class="icon-nav d-none d-sm-block" ></li>

                                                                                </button>



                                                                            </ul>
                                                                            <ul class="image-swatch">
                                                                                <button  class="datepicker--button"

                                                                                        name="variantid"
                                                                                       id="variantid"
                                                                                       value="{{ rs.id }}"
                                                                                       title="{{ rs.title }}"

                                                                                       onclick="this.form.submit();">
                                                                                    {% if variant.id == rs.id %}
                                                                            {% endif %}
                                                                                    <img class="imgSwatch" type="image"
                                                                                         src="{{ rs.image.url }}"
                                                                                         style="height:50px; width:38px"

                                                                                    />
                                                                                </button>

                                                                            </ul>

                                                                            {#                                                                            <img src="{{ rs.image.url }}"#}
                                                                            {#                                                                                 style="height: 70px">#}
                                                                        </li>
                                                                    {% endfor %}
</ul>