{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/"><img src="{% static '/img/logo.png' %}" style="height: 85px;" /></a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="/"><img src="{% static '/img/logo.png' %}" style="height: 85px;" /></a>
      </div>


      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'accounts:admin_logout' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> LOGOUT
        </a>
      </div>        </aside>
  </div>