{% extends 'front/homebase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block javascript %}
  <script src="{% static 'CustomFile/AddressJs.js' %}"></script>
{% endblock %}
{% load i18n %}
{% block body %}



    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Check-out</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <Form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">

                                    <a data-url="{% url 'user:CreateAddress' %}"
                                       class="btn btn-sm btn-solid  js-create-book pull-right">{% translate 'Add New Address' %}</a>
                                    <h3>Billing Details</h3>
                                    <div class="modal fade" id="modal-book">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="typo-content">
                                    <div class="row">
{#                                        {{ form }}#}
                                        {% for rs in address %}
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div>
                                                           <input type="radio" name="address" value="{{ rs.id }}" >
                                                            <label for="one">{{ rs }}</label>


                                                        </div>
                                                    </div>

                                                    <div class="card-body">



                                                        <ol>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2 "></i>{{ rs.id }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2 "></i>{{ rs.location_type.title }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.address_title }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.first_name }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.last_name }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.governorate }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.city }}
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-angle-double-right me-2"></i>{{ rs.phone }}
                                                            </li>
                                                        </ol>


                                                    </div>
                                                </div>

                                            </div>{% endfor %}


                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details">

                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Product <span>Total</span></div>
                                        </div>{% for rs in shopcart %}
                                        <ul class="qty">
                                        <li>{{ rs.product.title }} × {{ rs.quantity }} <span>${{ rs.price }}</span>
                                        </li>{% endfor %}

                                        </ul>
                                        <ul class="sub-total">
                                            <li>Subtotal <span class="count">${{ total }}</span></li>
                                            <li>Shipping
                                                <div class="shipping">
                                                    <div class="shopping-option">
                                                        <input type="checkbox" name="free-shipping" id="free-shipping">
                                                        <label for="free-shipping">Free Shipping</label>
                                                    </div>
                                                    <div class="shopping-option">
                                                        <input type="checkbox" name="local-pickup" id="local-pickup">
                                                        <label for="local-pickup">Local Pickup</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="total">
                                            <li>Total <span class="count">${{ total }}</span></li>
                                        </ul>
                                    </div>

                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
{#                                                    {{ form }}#}
                                                {{ form.payment_method|as_crispy_field }}
{#                                                    <li>{% for rs in payment_method %}#}
{#                                                        <div class="radio-option">#}
{#                                                            <input type="radio" name="payment_method" id="payment-1"#}
{#                                                                   checked="checked" value="{{ rs.method }}">#}
{#                                                            <label for="payment-1">{{ rs.title }}</label>#}
{#                                                        </div>#}
{##}
{#                                                    </li> {% endfor %}#}

                                                </ul>
                                            </div>
                                        </div>


                                        <div class="text-end">
                                            <button type="submit" id="checkout-button"
                                                    class="btn-solid btn buy-button">{% translate 'Place Orders' %}</button>


                                        </div>

                                </div>
                            </div>
                        </div>
                        </div></form>
                </div>
            </div>

        </div>

    </section>
     <body>

    {% csrf_token %}
  </body>
    <!-- section end -->


{% endblock %}


{#<script type="text/javascript">#}
{#    // Create an instance of the Stripe object with your publishable API key#}
{#    var stripe = Stripe('pk_test_51IuUC4K.........voa9');#}
{##}
{#    // Gets all buy buttons#}
{#    var buttons = document.getElementsByClassName('buy-button');#}
{#    for (i = 0; i < buttons.length; i++) {#}
{##}
{#   // for every button we will add a Stripe POST request action#}
{#    buttons[i].addEventListener('click', function(event) {#}
{#    var targetElement = event.target || event.srcElement;#}
{#    var productName =  targetElement.value;#}
{#    console.log('Buying: ' + productName);#}
{##}
{#    var data = JSON.stringify({#}
{#    item: ["item_1", "item_2"],#}
{#    item_quantity: [1, 3]#}
{#    })#}
{##}
{#    // Our endpoint with the chosen product name#}
{#    var url = '{% url 'sales:Checkout' %}' + productName#}
{#    console.log(url);#}
{#    // Create a new Checkout Session#}
{#    fetch(url, {#}
{#      method: 'POST',#}
{#      body: data,#}
{#      headers: { 'Accept': 'application/json, text/plain, */*','Content-Type': 'application/json'#}
{#        }#}
{#    })#}
{#    .then(function(response) {#}
{#      return response.json();#}
{#    })#}
{#    .then(function(session) {#}
{#      return stripe.redirectToCheckout({ sessionId: session.id });#}
{##}
{#    })#}
{#    .then(function(result) {#}
{#      // If `redirectToCheckout` fails due to a browser or network#}
{#      // error, you should display the localized error message to your#}
{#      // customer using `error.message`.#}
{#      if (result.error) {#}
{#        alert(result.error.message);#}
{#      }#}
{#    })#}
{#    .catch(function(error) {#}
{#      console.error('Error:', error);#}
{#    });#}
{##}
{#    });#}
{##}
{#    }#}
{#</script>#}


{% block foot %} {% include 'front/footer.html' %}  {% endblock %}
{% block js %}{% include 'front/js.html' %}{% endblock %}

