{% load static %}


<!-- latest jquery-->
<script src="{%  static '' %}assets/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="{%  static '' %}assets/js/bootstrap.bundle.min.js"></script>

<!-- feather icon js-->
<script src="{%  static '' %}assets/js/icons/feather-icon/feather.min.js"></script>
<script src="{%  static '' %}assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="{%  static '' %}assets/js/sidebar-menu.js"></script>

<!--chartist js-->
<script src="{%  static '' %}assets/js/chart/chartist/chartist.js"></script>

<!--chartjs js-->
<script src="{%  static '' %}assets/js/chart/chartjs/chart.min.js"></script>

<!-- lazyload js-->
<script src="{%  static '' %}assets/js/lazysizes.min.js"></script>

<!--copycode js-->
<script src="{%  static '' %}assets/js/prism/prism.min.js"></script>
<script src="{%  static '' %}assets/js/clipboard/clipboard.min.js"></script>
<script src="{%  static '' %}assets/js/custom-card/custom-card.js"></script>

<!--counter js-->
<script src="{%  static '' %}assets/js/counter/jquery.waypoints.min.js"></script>
<script src="{%  static '' %}assets/js/counter/jquery.counterup.min.js"></script>
<script src="{%  static '' %}assets/js/counter/counter-custom.js"></script>

<!--peity chart js-->
<script src="{%  static '' %}assets/js/chart/peity-chart/peity.jquery.js"></script>

<!--sparkline chart js-->
<script src="{%  static '' %}assets/js/chart/sparkline/sparkline.js"></script>

<!--Customizer admin-->
<script src="{%  static '' %}assets/js/admin-customizer.js"></script>

<!--dashboard custom js-->
<script src="{%  static '' %}assets/js/dashboard/default.js"></script>

<!--right sidebar js-->
<script src="{%  static '' %}assets/js/chat-menu.js"></script>

<!--height equal js-->
<script src="{%  static '' %}assets/js/height-equal.js"></script>

<!-- lazyload js-->
<script src="{%  static '' %}assets/js/lazysizes.min.js"></script>

<!--script admin-->
<script src="{%  static '' %}assets/js/admin-script.js"></script>

{#######################Add Product#####################################}

<!-- touchspin js-->
<script src="{%  static '' %}assets/js/touchspin/vendors.min.js"></script>
<script src="{%  static '' %}assets/js/touchspin/touchspin.js"></script>
<script src="{%  static '' %}assets/js/touchspin/input-groups.min.js"></script>

<!-- form validation js-->
<script src="{%  static '' %}assets/js/dashboard/form-validation-custom.js"></script>

<!-- ckeditor js-->
<script src="{%  static '' %}assets/js/editor/ckeditor/ckeditor.js"></script>
<script src="{%  static '' %}assets/js/editor/ckeditor/styles.js"></script>
<script src="{%  static '' %}assets/js/editor/ckeditor/adapters/jquery.js"></script>
<script src="{%  static '' %}assets/js/editor/ckeditor/ckeditor.custom.js"></script>

<!-- Zoom js-->
<script src="{%  static '' %}assets/js/jquery.elevatezoom.js"></script>
<script src="{%  static '' %}assets/js/zoom-scripts.js"></script>

{#######################List Product#####################################}

<!-- Jsgrid js-->
<script src="{%  static '' %}assets/js/jsgrid/jsgrid.min.js"></script>
<script src="{%  static '' %}assets/js/jsgrid/griddata-productlist-digital.js"></script>
<script src="{%  static '' %}assets/js/jsgrid/jsgrid-list.js"></script>


{#######################Report#####################################}
<!-- Google chart js-->
<script src="{%  static '' %}assets/js/chart/google/google-chart-loader.js"></script>


<!--Report chart-->
<script src="{%  static '' %}assets/js/admin-reports.js"></script>

{####################################DasBoard Chart JS#############}


<script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">
<script>
    function toast(message, type) {
      bootoast.toast({
        position: 'leftBottom',
        message,
        type,
      });
    }

    {% if messages %}

    {% for message in messages %}
    toast('{{ message }}', '{{ message.tags }}');
    {% endfor %}

    {% endif %}
  </script>


<script>
    $(window).on('load', function () {
        setTimeout(function () {
            $('#exampleModal').modal('hide');
        }, 2500);
    });

    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }


    $('#language a:first').tab('show');






</script>

<script>

</script>



