{% extends 'admin/adminbase.html' %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block body %}

    <div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>{% translate 'Add Products' %}
                            <small>
                                {% if not edit %}🆕 Add a new product {% else %} ✏ Edit a
                                    product{% endif %}</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="{% url 'core:AdminIndex' %}"><i
                                data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">{% translate 'Physical' %}</li>
                        <li class="breadcrumb-item active">{% translate 'Add Product' %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row product-adding">
            <div class="col-xl-12">
                <form class="needs-validation repeater" enctype="multipart/form-data"
                      action="{% url 'core:ProductUpdate' product.slug %}" data-options-url="{% url 'core:ajax_load_options' %}"
                      name="ProductForm" id="ProductForm"
                      method="post">
                    {% csrf_token %}
                    <div class="card">


                        <div class=" alert-info" id="errorHeader"></div>
                        <div>
                            {% if product_form.errors %}

                                {% for error_field, error_message in product_form.errors.items %}

                                    <div class="alert alert-danger">
                                        {{ error_field|striptags }}: {{ error_message|striptags }}
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}

                            {% endif %}
                            {% if media_form.errors %}
                                {% for error_field, error_message in media_form.errors.items %}

                                    <div class="alert alert-danger">
                                        {{ error_field|striptags }}: {{ error_message|striptags }}
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}

                            {% endif %}
                            {% if attribute_form.errors %}
                                {% for error_field, error_message in attribute_form.errors.items %}

                                    <div class="alert alert-danger">
                                        {{ error_field|striptags }}: {{ error_message|striptags }}
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}

                            {% endif %}
                         {% if option_form.errors %}
                                {% for error_field, error_message in option_form.errors.items %}

                                    <div class="alert alert-danger">
                                        {{ error_field|striptags }}: {{ error_message|striptags }}
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}

                            {% endif %}


                        </div>


                        <div class="card-body">


                            <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active show" id="general-tab"
                                                        data-toggle="tab"
                                                        href="#general" role="tab" aria-controls="general"
                                                        aria-selected="true" data-original-title=""
                                                        title="">{% translate 'General' %}</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" id="data-tabs" data-toggle="tab"
                                                        href="#description"
                                                        role="tab" aria-controls="description" aria-selected="false"
                                                        data-original-title=""
                                                        title="">{% translate 'Description' %}</a></li>
                                <li class="nav-item"><a class="nav-link" id="description-tabs" data-toggle="tab"
                                                        href="#data"
                                                        role="tab" aria-controls="data" aria-selected="false"
                                                        data-original-title="" title="">{% translate 'Data' %}</a></li>
                                <li class="nav-item"><a class="nav-link" id="image-tabs" data-toggle="tab"
                                                        href="#image"
                                                        role="tab" aria-controls="image" aria-selected="false"
                                                        data-original-title="" title="">{% translate 'Image' %}</a></li>


                                <li class="nav-item"><a class="nav-link" id="seo-tabs" data-toggle="tab" href="#seo"
                                                        role="tab" aria-controls="seo" aria-selected="false"
                                                        data-original-title="" title="">{% translate 'SEO' %}</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="general" role="tabpanel"
                                     aria-labelledby="general-tab">
                                    <!-- Container-fluid starts-->
                                    <div class="container-fluid">
                                        <div class=" product-adding">
                                            <div class="card ">

                                                <div class="card-header">
                                                    <h5>{% translate 'General' %}</h5>
                                                </div>
                                                <div class="card-body  ">
                                                    <div class="digital-add needs-validation ">

                                                        <div class="form-group mb-3 row">
                                                            <label for="validationCustom01"
                                                                   class="col-md-4"><span>*</span>{% translate 'Product Name' %}
                                                            </label>
                                                            <label for="title"></label><input
                                                                class="form-control col-sm-4 "
                                                                placeholder="title"
                                                                id="title" type="text"
                                                                name="title" value="{{ product.title }}" required
                                                                oninvalid="invalidFunction(event,'title not empty')">
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="validationCustom0"
                                                                   class=" col-sm-4"><span>*</span>{% translate 'Description' %}
                                                            </label>
                                                            <label for="editor1"></label><textarea
                                                                class="col-md-push-12 middle" content=""
                                                                name="long_desc" id="editor1" value="{{ product.long_desc }}"
                                                                cols="2" onemptied=""
                                                                rows="2"></textarea>

                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="validationCustom0"
                                                                   class=" col-sm-4"><span>*</span>{% translate 'Keyword' %}
                                                            </label>
                                                            <textarea class="col-md-push-12 middle" content=""
                                                                      name="keyword" id="editor1"
                                                                      cols="2" value="{{ product.keyword }}"
                                                                      rows="2" required="required"></textarea>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Container-fluid Ends-->
                                </div>
                                <div class="tab-pane fade" id="description" role="tabpanel"
                                     aria-labelledby="description-tabs">
                                    <h4>description</h4>
                                    <div class="col-xl-8">
                                        <input class="form-control col-md-6"
                                               id="title" type="text"
                                               name="seller" value="{{ request.user.id }}"
                                               required="">

                                        <div class="form-group row ">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Model' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="text"
                                                   name="model" value="{{ product.model }}"
                                                   required="" oninvalid="">


                                        </div>

                                        <div class="form-group row ">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Brand' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="text"
                                                   name="brand" value="{{ product.brand }}"
                                                   required="" oninvalid="invalidFunction(event,'brand not empty')">


                                        </div>


                                        <div class="form-group row ">
                                            <label for="validationCustom0"
                                                   class="col-md-4"><span>*</span>
                                                {% translate 'Category' %} </label>
                                            <select class="custom-select col-md-6" id="product_category" multiple
                                                    name="category" value="{{ product.category }}"
                                                    style="width: 50%">
                                                {% for value, text in product_form.category.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Price' %}</label>
                                            <label for="price"></label><input class="form-control col-md-6"
                                                                              id="price" type="number"
                                                                              name="price" value="5" min="0"
                                                                              required="required">
                                        </div>

                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Quantity' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="text"
                                                   name="quantity" value="5" min="0"
                                                   required="required">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Minimum Quantity' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="number"
                                                   name="minimum_quantity" value="5" min="0"
                                                   required="required">
                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Subtract Stock' %} </label>
                                            <select name="subtract_stock"
                                                    class="custom-select  col-md-6">

                                                {% for value, text in product_form.subtract_stock.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Out Of Stock Status' %} </label>
                                            <select name="out_of_stock_status"
                                                    class="custom-select  col-md-6">

                                                {% for value, text in product_form.out_of_stock_status.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Requires Shipping' %} </label>
                                            <select name="requires_shipping"
                                                    class="custom-select  col-md-6">

                                                {% for value, text in product_form.requires_shipping.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Weight' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="number"
                                                   name="weight" value="5" min="0"
                                                   required="required">
                                        </div>

                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Length' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="number"
                                                   name="length" value="5" min="0"
                                                   required="required">
                                        </div>


                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'status' %} </label>
                                            <select name="status"
                                                    class="custom-select  col-md-6">
                                                {% for value, text in product_form.status.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>

                                        <div class="form-group row">
                                            <label for="validationCustom0"
                                                   class=" col-md-4"><span>*</span>
                                                {% translate 'Sort Order' %}</label>
                                            <input class="form-control col-md-6"
                                                   id="validationCustom0" type="number"
                                                   name="sort_order" value="5" min="0"
                                                   required="required">
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane fade " id="data" role="tabpanel" aria-labelledby="data-tabs">
                                    <div class="card-header"> detail</div>
                                    <div class="card-body">
                                        <div class="form-group row col-md-12">
                                            <label for="validationCustom0"
                                                   class="col-md-4"><span>*</span>
                                                {% translate 'Product Filter' %} </label>
                                            <select class="col-md-6" id="product_filter" multiple
                                                    name="filter"
                                                    style="width: 60%">
                                                {% for value, text in product_form.filter.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label for="validationCustom0"
                                                   class="col-md-4"><span>*</span>
                                                {% translate 'Product Manufacturer' %} </label>
                                            <select class="col-md-6" id="product_manufacturer" multiple
                                                    name="manufacturer"
                                                    style="width: 60%">
                                                {% for value, text in product_form.manufacturer.field.choices %}
                                                    <option value="{{ value }}"><img
                                                            src="{{ value }}"/>{{ text }}
                                                    </option>


                                                {% endfor %}
                                            </select>

                                        </div>
                                        <div class="form-group row col-md-12">
                                            <label for="validationCustom0"
                                                   class="col-md-4"><span>*</span>
                                                {% translate 'Product Related ' %} </label>
                                            <select class="col-md-6" id="product_related" multiple
                                                    name="related " style="width: 60%">
                                                {% for value, text in product_form.related.field.choices %}
                                                    <option value="{{ value }}">{{ text }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="form-group row  col-md-12 attributes_div">
                                            <div class="row col-md-12 attributes_div_row first_attributes">
                                                <div class="col-md-4">
                                                    <label for="validationCustom0"
                                                           class=""><span>*</span>
                                                        {% translate 'Product Attributes ' %} </label>
                                                    <select class="custom-select attributes" id="product_attribute"
                                                            name="attribute" style="width: 60%">
                                                        {% for value, title in attribute_form.attribute.field.choices %}
                                                            <option value="{{ value }}">{{ title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{% translate ' Attributes Detail ' %}</label>
                                                    <input type="text" name="attribute_detail"
                                                           class="form-control" required=""
                                                           placeholder="Attributes Detail"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <div class="product-buttons text-center">

                                                <button class="btn btn-primary fa fa-plus  add_attributes"
                                                        type="button">
                                                </button>
                                                <button class="btn btn-light fa fa-minus-circle  remove_attributes"
                                                        type="button">

                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                        <div>
                                        <div class="form-group row  col-md-12 option_div">
                                            <div class="row col-md-12 option_div_row first_option">
                                                <div class="col-md-4">
                                                    <label for="validationCustom0"
                                                           class=""><span>*</span>
                                                        {% translate 'Product option ' %} </label>
                                                    <select class="custom-select attributes" id="product_option"
                                                            name="option" style="width: 60%">
                                                        {% for value, title in option_form.option.field.choices %}
                                                            <option value="{{ value }}">{{ title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{% translate ' option Detail ' %}</label>
                                                    <input type="text" name="option_detail"
                                                           class="form-control" required=""
                                                           placeholder="Attributes Detail"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <div class="product-buttons text-center">

                                                <button class="btn btn-primary fa fa-plus  add_option"
                                                        type="button">
                                                </button>
                                                <button class="btn btn-light fa fa-minus-circle  remove_option"
                                                        type="button">

                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="option" role="tabpanel"
                                     aria-labelledby="option-tabs">
                                    <h4>Option</h4>

                                </div>
                                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tabs">
                                    {{ formset.management_form }}
                                    <div class="add-product">
                                        <div class="row media_div_row ">
                                            <div class="col-xl-4 xl-50 col-sm-12 col-12">
                                                <img alt=""
                                                     class="img-fluid image_zoom_1 blur-up lazyloaded img_preview">
                                            </div>
                                            <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                <ul class="file-upload-product">
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           id="Product image"
                                                                                           name="image">
                                                            <i class="fa fa-plus "></i></div>
                                                    </li>
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           name="image">
                                                            <i class="fa fa-plus "><select hidden name="media_type[]"
                                                                                           class="form-control media_type">
                                                                <option value="1">Image</option>
                                                                <option value="2">Video</option>
                                                            </select></i></div>
                                                    </li>
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           name="image">
                                                            <i class="fa fa-plus "><select hidden name="media_type[]"
                                                                                           class="form-control media_type">
                                                                <option value="1">Image</option>
                                                                <option value="2">Video</option>
                                                            </select></i></div>
                                                    </li>
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           name="image">
                                                            <i class="fa fa-plus "><select hidden name="media_type[]"
                                                                                           class="form-control media_type">
                                                                <option value="1">Image</option>
                                                                <option value="2">Video</option>
                                                            </select></i></div>
                                                    </li>
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           name="image">
                                                            <i class="fa fa-plus "><select hidden name="media_type[]"
                                                                                           class="form-control media_type">
                                                                <option value="1">Image</option>
                                                                <option value="2">Video</option>
                                                            </select></i></div>
                                                    </li>
                                                    <li>
                                                        <div class="box-input-file"><input class="upload select_media"
                                                                                           type="file"
                                                                                           name="image">
                                                            <i class="fa fa-plus "><select hidden name="media_type[]"
                                                                                           class="form-control media_type">
                                                                <option value="1">Image</option>
                                                                <option value="2">Video</option>
                                                            </select></i></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tabs">

                                    <h4>{% translate 'SEO' %}</h4>

                                    <div class="form-group  row">
                                        <label for="validationCustom02"
                                               class="col-md-4">{% translate 'Slug' %}
                                        </label>
                                        <input class=" form-control col-md-6" id="slug"
                                               name="slug" type="text" required="">
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>


                                    <div class="form-group row ">
                                        <label for="validationCustom0"
                                               class=" col-md-4"><span>*</span>
                                            {% translate 'Meta Tag Title' %}</label>
                                        <input class="form-control col-md-6"
                                               id="validationCustom0" type="text"
                                               name="meta_title" value="5" required="">


                                    </div>

                                    <div class="form-group row ">
                                        <label for="validationCustom0"
                                               class=" col-md-4"><span>*</span>
                                            {% translate 'Meta Tag Description' %}</label>
                                        <input class="form-control col-md-6"
                                               id="validationCustom0" type="text"
                                               name="meta_description" value="5" required="">


                                    </div>

                                    <div class="form-group row ">
                                        <label for="validationCustom0"
                                               class=" col-md-4"><span>*</span>
                                            {% translate 'Meta Tag Keywords' %}</label>
                                        <input class="form-control col-md-6"
                                               id="validationCustom0" type="text"
                                               name="meta_keywords" value="5" required="">


                                    </div>

                                    <div class="tagline  row ">

                                        <label for="validationCustom0"
                                               class=" col-md-4"><span>*</span>
                                            {% translate 'Product Tags' %}</label>
                                        <input class="tag"
                                               id="validationCustom0" type="text"
                                               name="tags" value="5" data-role="tagsinput"
                                               required="required">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class='progress mb-3' style="height:auto">
                                            <div class="progress-bar bg-warning" id="progressbar"
                                                 role="progressbar" data-width="0%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="display:none;width: 0%;height: 30px;border-radius: 10px;">
                                                0%
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            {% if field.errors %}
                                <div class="alert alert-danger" style="margin:10px">
                                {{ field.errors }}
                            {% endif %}
                            </div>

                            <div class="form-group mb-0">
                                <div class="product-buttons text-center">
                                    <button type="submit" class="btn btn-primary">{% translate 'Add' %}</button>
                                    <button type="button" href="{% url 'core:ProductsList' %} "
                                            class="btn btn-light">{% translate 'Discard' %}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                <!-- Container-fluid Ends-->
            </div>
        </div>
    </div>
    <div class="modal" id="modelhhh" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}




{% endblock %}



{% block custom_js %}
    <script>
        document.getElementById("title").onchange = function () {
            document.getElementById("slug").value = document.getElementById("title").value.toLowerCase().replaceAll(" ", "-");
        }

        function invalidFunction(e, message) {
            e.preventDefault();
            document.getElementById('errorHeader').innerText = message;

        }

        $(".add_media").click(function () {
            var media_row = $(".first_media").clone();
            media_row.removeClass("first_media");
            media_row.replaceAll("src", "")
            media_row.find(".select_media").val("");
            media_row.find(".img_preview").attr("src", "").css({"border": "none"}).css({"border-radius": "0px"}).hide();
            media_row.find(".video_preview").attr("src", "").css({"border": "none"}).css({"border-radius": "0px"}).hide();
            $(".media_div").append(media_row);
        });
        $(".remove_media").click(function () {
            if ($(".media_div").find(".media_div_row").length > 1) {
                $(".media_div").children().last().remove();
            }
        });
        $(document).on("change", ".select_media", function () {
            var media_type = $(this).parents(".media_div_row").find(".media_type").val();
            var img_preview = $(this).parents(".media_div_row").find(".img_preview");
            var vid_preview = $(this).parents(".media_div_row").find(".video_preview");
            showPreviewMedia(this, media_type, img_preview, vid_preview);
        });

        function showPreviewMedia(input, media_type, img_preview, video_preview) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (media_type == "1") {
                        img_preview.attr("src", e.target.result);
                        img_preview.show();
                        img_preview.css({"border": "5px solid orange"});
                        img_preview.css({"border-radius": "10px"});
                    }
                    if (media_type == "2") {
                        video_preview.show();
                        video_preview.css({"border": "5px solid orange"});
                        video_preview.css({"border-radius": "10px"});
                        video_preview.attr("src", e.target.result);
                        video_preview.load();
                        video_preview.play();

                    }
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".add_attributes").click(function () {
            var attributes_row = $(".first_attributes").clone();
            attributes_row.removeClass("first_attributes");
            attributes_row.find(".first_attributes").val("");
            attributes_row.find("#product_attribute").select2({
                theme: "classic",
                closeOnSelect: true,
                placeholder: 'Add Product Category',
                minimumInputLength: 1,
                maximumSelectionLength: 5,
                allowClear: true,
            });
            attributes_row.find(".attribute_details").val("");
            $(".attributes_div").append(attributes_row);
        });
        $(".remove_attributes").click(function () {
            if ($(".attributes_div").find(".attributes_div_row").length > 1) {
                $(".attributes_div").children().last().remove();
            }
        });


        $(".add_option").click(function () {
            var option_row = $(".first_option").clone();
            option_row.removeClass("first_option").val("");
            option_row.removeClass("product_option");
            option_row.find("#product_option").select2({
                theme: "classic",
                closeOnSelect: true,
                placeholder: 'Add Product Option',
                minimumInputLength: 1,
                maximumSelectionLength: 5,
                allowClear: true,
            });
            $(".option_div").append(option_row);
        });
        $(".remove_option").click(function () {
            if ($(".option_div").find(".option_div_row").length > 1) {
                $(".option_div").children().last().remove();
            }
        });


        $('input#tags').tagsinput('remove', 'some tag');

    </script>





    <script>
        $('#product_category').select2({
            theme: "classic",
            closeOnSelect: true,
            placeholder: 'Add Product Category',
            minimumInputLength: 1,
            maximumSelectionLength: 1,
            allowClear: true,
        });
        $('#product_filter').select2({
            theme: "classic",
            closeOnSelect: true,
            placeholder: 'Add Product Filters',
            minimumInputLength: 1,
            maximumSelectionLength: 5,
            allowClear: true,
        });
        $('#product_manufacturer').select2({
            theme: "classic",
            closeOnSelect: false,
            placeholder: 'Add Product Manufacturer',
            minimumInputLength: 1,
            maximumSelectionLength: 1,
            allowClear: true,
        });


        $('#product_related').select2({
            theme: "classic",
            closeOnSelect: false,
            placeholder: 'Add Product Related',
            minimumInputLength: 1,
            maximumSelectionLength: 6,
            allowClear: true,

        });


    </script>
    <script>
        $("#option_type").change(function () {
            var url = $("#ProductForm").attr("data-options-url");  // get the url of the `load_cities` view
            var optionTypeId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'option_type': optionTypeId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#option").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>


{% endblock custom_js %}

{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %}{% include 'admin/js.html' %}{% endblock %}

</div>