{% load crispy_forms_filters %}
{% load static %}
{% load bootstrap4 %}
{% load myapptags %}
{% shopcartcount user.id as count %}

{% load i18n %}
<!-- header start -->
{#<header class="header-style-5 border-style" id="sticky-header">#}
<header class="header-style-5 border-style">
    <div class="mobile-fix-option"></div>
    <div class="top-header top-header-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        {% if setting_data == 'en' %}

                            <li>Welcome to Our store &nbsp;{{ setting_data_en.title }}</li>
                        {% elif setting_data  == 'ar' %}

                            <li>Welcome to Our store &nbsp;{{ setting_data_ar.title }}  </li>


                        {% endif %}


                        <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: &nbsp;{{ setting.phone }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <ul class="header-dropdown">
                        <li class="mobile-wishlist"><a href="{% url 'sales:Wishlist' %}"><span>{{ wish_count }}</span><i class="fa fa-heart"
                                                                                            aria-hidden="true"></i></a>
                        </li>
                        <li class="onhover-dropdown mobile-account"><i class="fa fa-user" aria-hidden="true"></i>
                            {% if user.is_authenticated %} {{ user.first_name }}
                                <ul class="onhover-show-div">
                                    <li><a href="{% url 'user:UserProfile' user.slug %}">Profile</a>
                                    <li>
                                    <li>
                                    <li class="onhover-show">
                                        {% if  user.seller %}
                                            {% if store_owner %}
                                                {% for rs in store_owner %}

                                                    {% if rs.activation == 1 and rs.status == 1 %}
                                                        <li>
                                                            <a href="{% url 'vendors:VendorDashboard' rs.slug %}">{% translate 'Dashboard' %}</a>
                                                            <input type="hidden" value="rs.id">
                                                        </li>
                                                    {% else %}

                                                        {% if rs.activation == 1 and rs.status == 0 %}
                                                            <li><a href="{% url 'vendors:StoreWaiting' %}">
                                                                <h6>{% translate 'Vendor Disable' %}</h6></a></li>
                                                        {% endif %}



                                                    {% endif %}

                                                    {% if rs.activation == 0  and rs.status == 0 %}
                                                        <li><a href="{% url 'vendors:StoreWaiting' %}">
                                                            <h6>{% translate 'Vendor wait activation' %}</h6></a></li>
                                                    {% else %}
                                                        {% if rs.activation == 0  and rs.status == 1 %}
                                                            <li><a href="{% url 'vendors:StoreWaiting' %}">
                                                                <h6>{% translate 'Vendor wait activation' %}</h6></a>
                                                            </li>
                                                        {% endif %}{% endif %}

                                                {% endfor %}
                                            {% else %}
                                                <li>
                                                    <a href="{% url 'vendors:CreateStore' %}">{% translate 'Create Vendor' %}</a>
                                                </li>

                                            {% endif %}
                                        {% else %}
                                            <li>
                                                <a href="{% url 'vendors:AlreadyUserSellerRegister' user.slug %}">{% translate 'Start Selling ' %}</a>
                                            </li>
                                        {% endif %}

                                    <li><a href="{% url 'user:CustomerLogout' %}">{% translate 'Logout' %}</a></li>
                                </ul>

                            {% else %}
                                <ul class="onhover-show-div">
                                    <li><a href="{% url 'user:CustomerLogin' %}">{% translate 'Login' %}</a></li>
                                    <li><a href="{% url 'user:CustomerRegister' %}">{% translate 'Signup' %}</a></li>
                                </ul> {% endif %}

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar d-block d-xl-none">
                            <a href="javascript:void(0)" id="toggle-sidebar-res">
                                <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a href="{% url 'home:index' %}"><img src="{{ setting.image.url }}"
                                                                  height="50px" width="100px"
                                                                  class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                    </div>


                    <div>

                        <form class="form_search autocomplete-me" action="{% url 'home:search' %}">
                            <input name="q" type="text" class="nav-search nav-search-field" placeholder="search"
                                   aria-expanded="true"/>
                            <button type="submit" name="nav-submit-button" class="btn-search">
                                <i class="ti-search"></i>
                            </button>


                        </form>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search d-xl-none d-inline-block">
                                        <div><img src="{% static '' %}assets/images/icon/search.png"
                                                  onclick="openSearch()"
                                                  class="img-fluid blur-up lazyload" alt=""> <i class="ti-search"
                                                                                                onclick="openSearch()"></i>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="{% static '' %}assets/images/icon/setting.png"
                                                  class="img-fluid blur-up lazyload" alt=""> <i
                                                class="ti-settings"></i></div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <div class="lan-selector">
                                                    <form action="{% url 'set_language' %}" method="post"
                                                          id="language-form"
                                                          name="language-form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="language" id="language" value=""/>
                                                    </form>
                                                    <script>
                                                        function set_language(code) {
                                                            $('#language').val(code);
                                                            $('#language-form').submit();
                                                        }
                                                    </script>

                                                    <li>{% for language in index_language %}
                                                        <ul>
                                                            <a href="javascript:set_language('{{ language.code }}')"><img
                                                                    src="{{ language.image.url }} "
                                                                    height="25px" width="25px"> {{ language.name }}
                                                            </a>
                                                            <hr type="hidden">
                                                        </ul>{% endfor %}
                                                    </li>


                                                </div>
                                            </ul>
                                            <h6>currency</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupees</a></li>
                                                <li><a href="#">pound</a></li>
                                                <li><a href="#">doller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div></span><img src="{% static '' %}assets/images/icon/cart.png"
                                                         class="img-fluid blur-up lazyload" alt=""> <span
                                                class="qty">{{ count }}</span><i class="ti-shopping-cart"></i>
                            </div>


                            <ul class="show-div shopping-cart row">
                                <li>
                                    {% for rs in shopcart %}
                                        {% with product=rs.product %}
                                            <div class="media ">
                                            {% for rm in product.productmedia_set.all %}

                                                <ul><a href="#"><img alt="" height="20px" width="40px"
                                                                     class="mr-3 img-box"
                                                                     src="{{ rm.image.url }}">{% endfor %}
                                        </a></ul>

                                            <div class="media-body col-md-4">
                                                <a href="#">
                                                    <h4>{{ product.title }}</h4>
                                                </a>
                                                <h4>
                                                    <span>{{ rs.quantity }} x $ {{ product.price }}</span>
                                                </h4>
                                            </div> {% endwith %}

                                    </div>
                                        <li>

                                    {% endfor %}
                                    <div class="total">
                                        <h5>subtotal : <span>{{ total }}</span></h5>
                                    </div>
                                    </li>

                                {% if user.is_authenticated %}
                                    <li>
                                        <div class="buttons"><a href="{% url 'sales:ShopCart' %}"
                                                                class="view-cart">viewcart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <a href="{% url 'sales:Checkout' %}"
                                               class="checkout">{% translate 'checkout' %}</a>

                                        </div>
                                    </li>
                                {% else %}
                                    <li>
                                        <div class="buttons"><a href="{% url 'sales:ShopCart' %}"
                                                                class="view-cart">viewcart</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            <a href="{% url 'user:CustomerLogin' %}">{% translate 'checkout' %}</a>

                                        </div>
                                    </li>
                                {% endif %}
                            </div>


                            </ul>
                            </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="bottom-part bottom-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="main-nav-center">
                        <nav id="main-nav" class="text-start">
                            <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                            <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                <li>
                                    <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                                             aria-hidden="true"></i></div>
                                </li>


                                <!-- /category nav -->

                                <li class="mega" id="hover-cls">
                                    <a href="{% url 'home:Categories' %}">{% translate 'Category' %}
                                        <div class="lable-nav">new</div>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">{% translate 'Electronics' %}</a>

                                </li>
                                <li>
                                    <a href="#">{% translate ' Fashion' %}</a>

                                </li>
                                <li>
                                    <a href="#">{% translate 'Mobiles & Tablets' %}</a>

                                </li>
                                <li>
                                    <a href="#">{% translate 'Home & Kitchen' %}</a>

                                </li>

                                <li>
                                    <a href="#">{% translate 'Office' %}</a>

                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 d-xl-block d-none">
                    <div class="header-options">
                        <div class="vertical-slider no-arrow">
                            <div>
                                    <span><i class="ti-truck" aria-hidden="true"></i>Free Shipping on Orders
                                        $100+</span>
                            </div>
                            <div>
                                <span><i class="ti-announcement" aria-hidden="true"></i>Buy One Get Two Free</span>
                            </div>
                            <div>
                                <span><i class="ti-gift" aria-hidden="true"></i>Gift Card for all the season</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {#            {% include 'admin/partials/messages.html' %}#}
        {% block content %}
        {% endblock %}
        {#            {% if messages %}#}
        {#                {% for message in messages %}#}
        {#                    {% if message.tags == "success" %}#}
        {#                        <div class="alert alert-success">#}
        {#                            {{ message }}#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                    {% if message.tags == "error" %}#}
        {#                        <div class="alert alert-danger">#}
        {#                            {{ message }}#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                {% endfor %}#}
        {#            {% endif %}#}
    </div>
</header>
<!-- header end -->





