{% load static %}
 <!-- latest jquery-->
    <script src="{%  static '' %}assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-3.4.1.min.js' %} "></script>

    <!-- slick js-->
    <script src="{%  static '' %}assets/js/slick.js"></script>
    <script src="{%  static '' %}assets/js/slick-animation.min.js"></script>
<!-- price range js -->
    <script src="{%  static '' %}assets/js/price-range.js"></script>
    <!-- menu js-->
    <script src="{%  static '' %}assets/js/menu.js"></script>
    <script src="{%  static '' %}assets/js/sticky-menu.js"></script>

    <!-- lazyload js-->
    <script src="{%  static '' %}assets/js/lazysizes.min.js"></script>

    <!-- feather icon js-->
    <script src="{%  static '' %}assets/js/feather.min.js "></script>

    <!-- Bootstrap js-->
    <script src="{%  static '' %}assets/js/bootstrap.bundle.min.js"></script>

    <!-- Timer js-->
{#    <script src="{%  static '' %}assets/js/timer.js"></script>#}

    <!-- Bootstrap Notification js-->
    <script src="{%  static '' %}assets/js/bootstrap-notify.min.js"></script>
<!-- Datatables js-->
<script src="{%  static '' %}assets/js/datatables/jquery.dataTables.min.js"></script>
<script src="{%  static '' %}assets/js/datatables/custom-basic.js"></script>
<script src="{%  static '' %}assets/js/add_address.js"></script>

    <!-- Theme js-->
    <script src="{%  static '' %}assets/js/theme-setting.js"></script>
    <script src="{%  static '' %}assets/js/script.js"></script>
    <script src="{%  static '' %}assets/js/custom-slick-animated.js"></script>
 <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %} "></script>

<!-- timer js-->
{#    <script src="{%  static '' %}assets/js/timer1.js"></script>#}


<script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">
<script>
    function toast(message, type) {
      bootoast.toast({
        position: 'leftBottom',
        message,
        type,
      });
    }

    {% if messages %}

    {% for message in messages %}
    toast('{{ message }}', '{{ message.tags }}');
    {% endfor %}

    {% endif %}
  </script>



    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#newyear').modal('show');
            }, 2500);
        });
        feather.replace();
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>

<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "101375608840254");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
 <!-- footer end -->


{% block javascript %}
    {% endblock %}
