{% load static %}
{% load imagefit %}
{% load bootstrap4 %}
{% load i18n %}
<!-- Home slider -->
<section class="p-0">
        <div class="slide-1 home-slider">
            <div class="home  text-center">
                {% for rs in banner %}
                    {% if forloop.counter0|divisibleby:"2" %}
                         {% if forloop.first %} active {% endif %}">
                        <div class="row">{% endif %}
                <img src="{{ rs.image.url }}" alt="" style="height: 5px" width="10px" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>{% trans "welcome to fashion" %}</h4>
                                    <h1> {{ rs.caption }}</h1>
                                    <a href="#" class="btn btn-solid">shop now</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter0|divisibleby:"2" %}</div>
                    </div>
                    </div>{% endif %}
                {% endfor %}


</section>
<!-- Home slider end -->

