


{% extends 'DeliveryAdmin/delivery-base/deliverybase.html' %}
{% block head %} {% include 'DeliveryAdmin/delivery-base/header.html' %} {% endblock %}
{% block sidebar %} {% include 'DeliveryAdmin/delivery-base/sidebar.html' %} {% endblock %}
{% block body %} {% include 'DeliveryAdmin/delivery-base/content.html' %}  {% endblock %}
{% block foot %} {% include 'DeliveryAdmin/delivery-base/footer.html' %}  {% endblock %}
{% block js %} {% include 'DeliveryAdmin/delivery-base/js.html' %}  {% endblock %}
