{% extends 'admin/adminbase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block javascript %}{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="title">Notifications</h1>

        {% if not notifications %}
            No notifications yet!
        {% endif %}

        {% for notification in notifications %}
            <div class="notification">
                <p>
                    {% if notification.notification_type == 'message' %}
                        <a href="{% url 'notifications:notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}">
                            <strong>{{ notification.created_by.username }}</strong> sent you a message<br>
                            <small>{{ notification.created_at|timesince }} ago</small>
                        </a>
                    {% elif notification.notification_type == 'NewOrder' %}
                        <a href="{% url 'core:EditOrder' notification.extra_id %}">
                            <strong>{{ notification.created_by.first_name }}</strong> New order {{ notification.extra_info.title|truncatechars:4 }}  <br>
                            <small>{{ notification.created_at|timesince }} ago</small>

                        </a>
                        {% elif notification.notification_type == 'NewRegistration' %}
                        <a href="{% url 'core:AdminUsersList' %}">
                            <strong>{{ notification.created_by.first_name }}</strong> New Customer Registration {{ notification.extra_info.title|truncatechars:4 }}  <br>
                            <small>{{ notification.created_at|timesince }} ago</small>

                        </a>
                        {% elif notification.notification_type == 'NewVendorCreate' %}
                        <a href="{% url 'core:AdminVendorList'  %}">
                            <strong>{{ notification.created_by.first_name }}</strong> New Vendor Registration {{ notification.extra_info.title|truncatechars:4 }}  <br>
                            <small>{{ notification.created_at|timesince }} ago</small>

                        </a>

                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %}{% include 'admin/js.html' %}{% endblock %}
