{% extends 'admin/adminbase.html' %}
{% load static %}
{% load i18n %}
{% block body %}
    {% load i18n %}




    <div class="page-body">

       <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>{% translate " Attribute" %}
                            <small>
                                <ol class="breadcrumb pull-left">
                                    <li class="breadcrumb-item"><a href="{% url 'core:AdminIndex' %}"><i data-feather="home"></i></a></li>

                                    <li class="breadcrumb-item active">{% translate 'Options' %} </li>
                                </ol>
                            </small>
                        </h3>

                        </ol>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-tools pull-right ">
                        <a href="{% url 'core:AddOption' %}">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-original-title="test" data-target="#exampleModal">Add Option
                            </button>
                        </a>
                        <a href="{% url 'core:AddOptionsType' %}">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-original-title="test" data-target="#exampleModal">Add Options Type
                            </button>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

            <div class="card-body p-0 ">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Option
                        </th>
                        <th style="width: 20%">
                             Option Type
                        </th>

                        <th style="width: 19%">
                            Sort Order
                        </th>
                        <th style="width: 40%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rs in object_list %}
                        <tr>
                            <td>
                                 {{ forloop.counter }}
                            </td>
                            <td>
                                <a>
                                    {{ rs.title }}
                                </a>
                                <br/>
                                <small>

                                </small>
                            </td>
                            <td>
                                <a>
                                    {{ rs.option_type.title }}
                                </a>

                                </ul>
                            </td>

                            <td class="project-state">
                                <span class="badge badge-success">{{ rs.sort_order }}</span>
                            </td>
                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="{% url 'core:EditOption' rs.id %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="{% url 'core:DeleteOption' rs.id  %}">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    {% include "_pagination.html" %}
                {% endif %}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>

    <!-- Container-fluid Ends-->


{% endblock %}
{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %} {% include 'admin/js.html' %}  {% endblock %}
